VisualElement {
    padding-top: 20px;
    padding-left: 20px;
}
TextField{
	
}
Button {
    width: 280px;
    height: 55px;
    min-width: 280px;
    min-height: 55px;
    background-color: rgb(0, 0, 0);
    border-radius: 26px;
    padding-right: 20px;
    font-size: 24px;
    color: white;
	border-color: rgba(0, 0, 0, 0);
    background-image: resource('UIElements/gradient');
    -unity-background-scale-mode: stretch-to-fill;
}

Text {
}
