.unity-base-popup-field {
    font-size: 26px;
}
.unity-base-popup-field__text {
    font-size: 26px;
}
.unity-base-popup-field__input {
    font-size: 26px;
}
.unity-base-popup-field__label {
    font-size: 26px;
}
.unity-popup-field {
    font-size: 26px;
}
.unity-popup-field__text {
    font-size: 26px;
}
.unity-popup-field__input {
    font-size: 26px;
}
.unity-popup-field__label {
    font-size: 26px;
}